body{
	margin:0;
	padding:0;
}
/*header start*/
.container {
	margin: 0 auto;
	width: 80%;
	/*border: 2px solid red;*/
	overflow: hidden;
}
.logo {
	float: left;
	width:18%;
	/*border: 2px solid red;*/
}
.logo img{
	margin-top:3px;
	width: 100%

}
.meun {
	float: right;
	width: 80%;
	/*border: 2px solid red;*/
}
.meun ul{
	float: right;

}
.meun ul li{
	list-style: none;
	float:left;
}
.meun ul li a{
	text-decoration: none;
	padding: 10px 18px;
	display: inline-block;
	color: #535D69;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 600;

}
.meun ul li:last-child a{
	padding-right: 0;
}
.meun ul li a:hover{
	color: #BD233F;
}
/*header end*/
/*banner start*/
.banner {
	min-height: 450px;
	background-image: url(../image/men.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}
.b_content {
	margin: 100px 0;
	width:50%;
	/*border: 2px solid red;*/
}
.b_content h1{
	margin: 0 0 30px;
	font-family:sans-serif; 
	font-size:80px;
	/*font-weight:400px;*/
	color:white;
	text-transform:capitalize;

}
.b_content p{
	font-family:sans-serif; 
	font-size:18px;
	font-weight:600px;
	color:white;
	line-height: 25px;

}

.b_content button{
	margin-top: 40px;
	width: 250px;
	height:50px;
	background-color: #C2223C;
	border: none;
	font-family:sans-serif; 
	font-size:17px;
	font-weight:400px;
	color:white;
	cursor: pointer;
	transition: .3s

}
.b_content button:hover{
	background-color: white;
	color: #C2223C;
}
/*banner end*/
/*work start*/
.work {
	padding: 90px 0;
}
.c_title {
	margin: 0 auto 50px;
	width: 70%;
	/*border: 2px solid red;*/
	text-align: center;
}
.c_h1{
	margin: 0 0 20px;
	font-family:sans-serif; 
	font-size:30px;
	font-weight:700px;
	color:black;
}
.c_p{
	margin: 0;
	font-family:sans-serif; 
	font-size:18px;
	font-weight:400px;
	color:#535D69;
	line-height: 25px;

}
/*single start*/
.w_content{
        /*border: 2px solid black;*/
        /*overflow: hidden;*/
}
.single1{
	float: left;
	padding: 20px 4.16%;
	width: 25%;
	/*border: 2px solid red;*/
	text-align: center;

}
.sin_img {
	margin: 0 auto;
	width: 50%
}
.sin_img img{
	width: 100%

}
.single1 h3{
	font-family:sans-serif; 
	font-size:18px;
	font-weight:800px;
	color:black;
	line-height: 25px
	
}
/*singale end*/
/*work end*/
/*feature start*/
.feature{
	padding: 90px 0;
}
/*single start*/
.single {
	background:#FFFFFF;
	float: left;
	padding: 20px 4.16%;
	width: 25%;
	/*border: 2px solid red;*/
	text-align: center;

}
.s_img{
	margin: 0 auto;
	width: 20%
}
.s_img img{
	width: 100%
}
.single h3{
	font-family:sans-serif; 
	font-size:18px;
	font-weight:800px;
	color:black;
	line-height: 25px;
}
.single p{
	
	font-family:sans-serif; 
	font-size:13px;
	font-weight:400px;
	color:#535D69;
	line-height: 22px;
	
}


/*single end*/
/*feature stop*/